<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Reactive.Testing" version="3.1.1" targetFramework="net45" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net45" />
  <package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="ReactiveFileSystemWatcher" version="0.1.2.1" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net45" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Compatibility" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Experimental" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Providers" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Runtime.Remoting" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Windows.Forms" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
</packages>