<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="console" xsi:type="Console" layout="${level:uppercase=true}|${logger}|${message}" />
        <target name="subject" xsi:type="LoggerSubject" layout="${level:uppercase=true}|${logger}|${message}" />
      </targets>

      <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
        <logger name="*" minlevel="Trace" writeTo="subject" />
      </rules>
    </nlog>
  
    <userSettings>
        <Uploader.Properties.Settings>
            <setting name="WatchPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="S3Path" serializeAs="String">
                <value>forforf-uploader</value>
            </setting>
        </Uploader.Properties.Settings>
    </userSettings>
    <aws profileName="Uploader"/>
</configuration>